<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your name | Resume</title>
        <link rel="stylesheet" href="./static/styles/styles.css">
        <script src="./static/js/app.js" defer></script>
        <script src="https://kit.fontawesome.com/3354552753.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- // Intro -->
        <nav class="menu">
            <label class="logo">Portfolio</label>
            <ul class="menu_item">
                <li class="active"><a href="#about">Start</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#work">Work Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <span class="btn_menu">
            <i class="fa fa-bars"></i>
        </span>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <!--- Aquí va el contenido -->
        <footer>
            <div class="container">
                <div class="sec aboutus">
                    <h2>About me</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Ut, quam. Sed, necessitatibus. Alias quisquam optio expedita. 
                        Consectetur aliquam sint perspiciatis! 
                        Maxime nemo nulla officiis tempora hic placeat amet delectus sit.
                    </p>
                    <ul class="sci">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="sec quickLinks">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Terms & Consitions</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="sec contact">
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span>Madrid 2440<br>
                                Guadalajara, Jal 45400,<br>Mex</span>
                        </li>
                        <li>
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <p><a href="tel:12345678900">+1 234 567 8900</a><br>
                                <a href="tel:12345678900">+1 234 567 8900</a></p>
                        </li>
                        <li>
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <p><a href="mailto:example@email.com">example@email.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="copyrightText">
            <p>Copyright © 2021 All rights reserved</p>
        </div>
    </body>
</html>